/* 第一排 */
.topnav-searchbox {
    width: 100%;
    height: 86px;
    background-color: #242424;

}

.topnav {
    background-color: #242424;
    border-bottom: 6px solid #c20c0c;
}

.topnav-logo {
    float: left;
    margin-top: 20px;
}

.topnav-wyy a {
    line-height: 86px;
    font-size: 22px;
    color: #fff;
}

.topnav-wyy {
    float: left;
    margin-left: 8px;
    margin-right: 18px;
}

.topnav-nav {
    float: left;
}

.topnav-searchbox div {
    float: left;
}

.topnav-searchbox div a {
    font-size: 14px;
    color: #cccccc;
    line-height: 86px;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
}

.topnav-nav div:hover a {
    background-color: #000000;
}

.topnav-nav div:hover a {
    color: #ffffff;
}

.topnav-nav div:nth-child(6) {
    position: relative;
    background-color: #000000;
}

.topnav-nav div:nth-child(6) a {
    color: #ffffff;
}

.topnav-nav-xsj {
    position: absolute;
    font-size: 0;
    border: 8px solid #c00014;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 70px;
    left: 618px;
    z-index: 5;
}

.topnav-nav-last {
    position: relative;
}

.topnav-nav-hot {
    position: absolute;
    width: 26px;
    height: 14px;
    background-color: #c20c0c;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 10px;
    top: 26px;
    left: 100px;
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    color: #f5d9d9;
}



/* 右 */
.topnav-searchbox p {
    float: right;
    margin-right: 26px;
    font-size: 12px;
    line-height: 86px;
    margin-left: 18px;
}

.topnav-searchbox p a {
    color: #787878;
}

.topnav-searchbox p a:hover {
    color: #999999;
}

.topnav-searchbox a {
    float: right;
    color: #cccccc;
}

.topnav-nav-right {
    margin-top: calc((86px - 32px)/2);
    width: 90px;
    height: 32px;
    border: 1px solid #4f4f4f;
    line-height: 32px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.topnav-searchbox a:hover div {
    border: 1px solid #cccccc;
    color: #ffffff;
}

.topnav-searchbox .topnav-nav-input {
    float: right;
    width: 158px;
    height: 32px;
    margin-top: calc((86px - 32px)/2);
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 32px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-right: 16px;
}

.topnav-nav-input i {
    float: left;
    margin-left: 8px;
}

.topnav-nav-input input {
    float: left;
    width: 130px;
    height: 18px;
    color: #9b9b9b;
    border: 0;
    margin-top: calc((32px - 18px)/2);
}

/* 第二排 客户端 */
.client {
    background-color: #171717;
    overflow: hidden;
    line-height: 4;
    color: #fff;
}

.client .conrainer {
    overflow: hidden;
}

.client-top {
    position: relative;
    float: right;
    font-size: 14px;
    color: #fff;
    padding-bottom: 10px;
}

.client-top img {
    position: absolute;
    top: 20px;
    left: -24px;
    width: 20px;
    height: 20px;
}

.client-bottom {
    margin-top: 60px;
}

.client-bottom-left {
    display: inline-block;
    width: 556px;
    height: 100%;
    text-align: center;
}

.client-bottom-left h3 {
    color: #fff;
    font-size: 22px;
    opacity: 0.8;
}

.client-bottom-left img {
    width: 464px;
    height: 273px;
}

.client-bottom-left-bottoms {
    line-height: 30px;
}

.client-bottom-left-bottoms-left {
    overflow: hidden;
}

.client-bottom-left-bottoms-left img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.client-bottom-left-bottoms-left span {
    margin-bottom: 10px;
}