.container {
    position: relative;
    width: 1152px;
    margin: 0 auto;
}

.newcontainer {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

.music-bottom .newcontainer {
    height: 100px;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}