/* 第一排 */
.topnav-searchbox {
    width: 100%;
    height: 86px;
    background-color: #242424;
}

.topnav {
    background-color: #242424;
    border-bottom: 1px solid #202020;
}

.topnav-logo {
    float: left;
    margin-top: 20px;
}

.topnav-wyy a {
    line-height: 86px;
    font-size: 22px;
    color: #fff;
}

.topnav-wyy {
    float: left;
    margin-left: 8px;
    margin-right: 18px;
}

.topnav-nav {
    float: left;
}

.topnav-searchbox div {
    float: left;
}

.topnav-searchbox div a {
    font-size: 14px;
    color: #cccccc;
    line-height: 86px;
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
}

.topnav-nav div:hover a {
    background-color: #000000;
}

.topnav-nav div:hover a {
    color: #ffffff;
}

.topnav-nav .qq {
    position: relative;
    background-color: #000000;
}

.topnav-nav div:nth-child(1) a {
    color: #ffffff;
}

.topnav-nav-xsj {
    position: absolute;
    font-size: 0;
    border: 8px solid #c00014;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    top: 70px;
    left: 312px;
    z-index: 2;
}

.topnav-nav-last {
    position: relative;
}

.topnav-nav-hot {
    position: absolute;
    width: 26px;
    height: 14px;
    background-color: #c20c0c;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 10px;
    top: 26px;
    left: 100px;
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    color: #f5d9d9;
}



/* 右 */
.topnav-searchbox p {
    float: right;
    margin-right: 26px;
    font-size: 12px;
    line-height: 86px;
    margin-left: 18px;
}

.topnav-searchbox p a {
    color: #787878;
}

.topnav-searchbox p a:hover {
    color: #999999;
}

.topnav-searchbox a {
    float: right;
    color: #cccccc;
}

.topnav-nav-right {
    margin-top: calc((86px - 32px)/2);
    width: 90px;
    height: 32px;
    border: 1px solid #4f4f4f;
    line-height: 32px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.topnav-searchbox a:hover div {
    border: 1px solid #cccccc;
    color: #ffffff;
}

.topnav-searchbox .topnav-nav-input {
    float: right;
    width: 158px;
    height: 32px;
    margin-top: calc((86px - 32px)/2);
    line-height: 32px;
    border: 1px solid transparent;
    border-radius: 32px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-right: 16px;
}

.topnav-nav-input i {
    float: left;
    margin-left: 8px;
}

.topnav-nav-input input {
    float: left;
    width: 130px;
    height: 18px;
    color: #9b9b9b;
    border: 0;
    margin-top: calc((32px - 18px)/2);
}



/* 最最最后一排 */
.music-bottom {
    position: relative;
    height: 100px;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    background-color: #f2f2f2;
}

.music-bottom-one-row {
    margin-top: 20px;
}

.music-bottom-one-row a {
    float: left;
    color: #a2a2a2;
    margin-right: 8px;
    margin-left: 8px;
}

.music-bottom-one-row a:hover {
    text-decoration: underline;
}

.music-bottom-one-row a:nth-child(1) {
    margin-left: 0;
}

.music-bottom-one-row li {
    float: left;
    color: #d1d1d1;
}

.music-bottom-p1 {
    color: #666666;
    margin-top: 10px;
}

.music-bottom-p1:hover a,
.music-bottom-p2:hover a {
    text-decoration: underline;
}

.music-bottom-p2 {
    color: #666666;
    margin-top: 10px;
}

.music-bottom-left {
    float: left;
}

.music-bottom-right {
    float: right;
    width: 328px;
    height: 72px;
    margin-top: 20px;
}

.music-bottom-right span {
    float: right;

}

.music-bottom-right-box .music-bottom-right-img1 {
    width: 47px;
    height: 45px;
    background-image: url(../images/foot_enter_new\ \(1\).png);
    background-position: -63px -101px;
    background-size: 110px 450px;
}

.music-bottom-right-box {
    float: left;
    width: 50px;
    height: 60px;
    margin-right: 40px;
}

.music-bottom-right-box li {
    display: block;
    font-size: 12px;
    margin-top: 52px;
    white-space: nowrap;
    text-align: center;
    color: #858585;
}

.music-bottom-right-box:nth-child(4) {
    margin-right: 8px;
}

.music-bottom-right-box .music-bottom-right-img2 {
    width: 47px;
    height: 45px;
    background-image: url(../images/foot_enter_new\ \(1\).png);
    background-position: 0 0;
    background-size: 110px 450px;
}

.music-bottom-right-box .music-bottom-right-img3 {
    width: 47px;
    height: 45px;
    background-image: url(../images/foot_enter_new\ \(1\).png);
    background-position: -63px -50px;
    background-size: 110px 450px;
}

.music-bottom-right-box .music-bottom-right-img4 {
    width: 47px;
    height: 45px;
    background-image: url(../images/foot_enter_new\ \(1\).png);
    background-position: 0 -101px;
    background-size: 110px 450px;
}


/* 第二排 */
.register {
    width: 100%;
    height: 660px;
    background-color: #f5f5f5;
}

.register-bx {
    width: 1034px;
    height: 660px;
    background-color: #ffffff;
    margin: 0 auto;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.back {
    position: relative;
    width: 807px;
    height: 268px;
    margin: 0 auto 0;
    padding-top: 104px;
    background-image: url(../images/mymusic.png);
    background-position: 0 104px;
    background-repeat: no-repeat;
}

.back a {
    position: absolute;
    bottom: 22px;
    right: 158px;
    width: 168px;
    height: 44px;
}

.back a:hover {
    background-image: url(../images/mymusic.png);
    background-position: 1px -278px;
}