/* 顶部搜索 */
.top-search {
    height: 73px;
    background: #fff;
}

.top-search-left {
    float: left;
    width: 290px;
    height: 70px;
}

.top-search-left a {
    display: inline-block;
    width: 290px;
    height: 70px;
    background-image: url(../upload/modules.png);
    background-position: 0px -48px;
}

.top-search-input {
    float: left;
    width: 300px;
    height: 38px;
    margin-top: 16px;
    margin-left: 334px;
    background-image: url(../upload/modules.png);
    background-position: 0px -0px;
}

.top-search-input input {
    margin: 2px 0 0 37px;
    height: 29px;
    width: 244px;
    border: 0;
}

.top-search-sp {
    position: relative;
    float: left;
    width: 36px;
    height: 36px;
    margin: 17px 0 0 41px;
}

.top-search-sp a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url(../upload/modules.png);
    background-position: -110px -158px;
    line-height: 20px;
    text-align: center;
}

.top-search-sp a span {
    position: absolute;
    top: -8px;
    left: 26px;
    width: 18px;
    height: 18px;
    background-image: url(../upload/modules.png);
    background-position: -156px -158px;
}

.top-search-dl {
    float: left;
    width: 62px;
    height: 36px;
    margin: 15px 0 0 37px;
}

.top-search-dl div {
    float: left;
    width: 36px;
    height: 84px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
}

.top-search-dl span {
    position: relative;
    float: left;
    width: 24px;
    height: 15px;
    margin-top: 10px;
    background-image: url(../upload/bottom-sj.png);
}

.top-search-dl span:hover {
    background-image: url(../upload/top-sj.png);
}

.top-search-dl:hover ul {
    display: block;
}

.top-search-dl:hover span {
    background-image: url(../upload/top-sj.png);

}

.top-search-dl:hover div {
    display: block;
}

.top-search-dl-hidden {
    position: absolute;
    bottom: -184px;
    right: -42px;
    width: 160px;
    height: 182px;
    display: none;
    z-index: 3;
}

.top-search-dl .top-search-dl-wsj {
    position: absolute;
    top: 27px;
    left: -94px;
    z-index: 100;
    width: 160px;
    height: 18px;
    /* transition: all 1s; */
    background-image: url(../upload/modules.png);
    background-position: 0px -128px;
    display: none;
    z-index: 3;
}

.top-search-dl-hidden li {
    width: 160px;
    height: 40px;
    background-color: #ffffff;
}

.top-search-dl-hidden li:hover {
    background-color: #f8f8f8;
}

.top-search-dl-hidden .tu1 {
    float: left;
    width: 16px;
    height: 16px;
    margin: 15px 15px 0 25px;
}

.top-search-dl-hidden p {
    float: left;
    height: 40px;
    line-height: 40px;
}

.top-search-dl-hidden .tu2 {
    float: left;
    width: 18px;
    height: 16px;
    margin: 12px 15px 0 25px;
    background-image: url(../upload/logins.png);
    background-position: -84px -0px;
}

.top-search-dl-hidden .tu3 {
    float: left;
    width: 18px;
    height: 16px;
    margin: 12px 15px 0 25px;
    background-image: url(../upload/logins.png);
    background-position: -112px -0px;
}


/* 第二排 背景图片 */
.backgr {
    position: relative;
    height: 478px;
    width: 100%;
    background-color: #0c1c3d;
}

.backgr .sp-com {
    height: 478px;
    background-image: url(../upload/carousel-backg02.jpg);
}

.backgr-left-jiao {
    position: absolute;
    width: 37px;
    height: 63px;
    top: 200px;
    left: 10px;
    background-image: url(../upload/banner.png);
    background-position: 0px -360px;
}

.backgr-left-jiao:hover {
    background-image: url(../upload/banner.png);
    background-position: 0px -430px;
}

.backgr-right-jiao {
    position: absolute;
    width: 37px;
    height: 63px;
    bottom: 220px;
    right: 18px;
    background-image: url(../upload/banner.png);
    background-position: 0 -508px;
}

.backgr-right-jiao:hover {
    background-image: url(../upload/banner.png);
    background-position: 0px -578px;
}

.backgr .sp-com .backgr-carousel {
    position: absolute;
    bottom: 38px;
    right: 514px;
    z-index: 3;
}

.backgr-carousel a {
    display: inline-block;
    width: 8px;
    height: 0px;
    margin: 0 2px;
    background-color: #8d8d9b;
}

.backgr-carousel a:hover img {
    background-image: url(../upload/dot_hover.png);

}

/* 第三排 */
.integral {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
}

.integral .sp-com {
    height: 80px;
    line-height: 80px;
}

.integral a {
    float: left;
    width: 275px;
    height: 80px;
}

.integral a div {
    margin-top: 8px;
    width: 100px;
    height: 65px;
    margin-left: 82px;
    line-height: 65px;
    border-right: 1px solid #e6e6e6;
    padding-right: 88px;
}

.integral a:nth-child(4) div {
    border: 0;
}

.integral a div img {
    float: left;
    margin-top: 10px;
}

.integral a div p {
    float: left;
    margin-left: 4px;
}

.integral .integral-img-jf {
    float: left;
    width: 48px;
    height: 48px;
    background-image: url(../upload/jifen.png);
    margin-left: 0;
    padding: 0;
    border: 0;
}

.integral-zh {
    margin-top: 18px;
}

/* 第四排 */
.youth {
    position: relative;
    width: 100%;
    height: 300px;
}

.shopping-right-po {
    position: fixed;
    top: 108px;
    right: 96px;
    width: 62px;
    height: 338px;
    border: 1px solid #999999;
}

.shopping-right-po a {
    display: block;
    height: 58px;
    width: 60px;
    border-bottom: 1px solid #e5e5e5;
    margin-left: 1px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}

.shopping-right-po div {
    display: block;
    height: 58px;
    width: 60px;
    border-bottom: 1px solid #e5e5e5;
    margin-left: 1px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}

.shopping-right-po .po04 {
    background-image: url(../upload/po04.png);
    background-repeat: no-repeat;
    background-position: 10px 0;
    line-height: 90px;
}

.shopping-right-po .po05 .head {
    width: 20px;
    height: 20px;
    background-image: url(../upload/totop.png);
    background-position: 0px -101px;
    line-height: 90px;
    border-bottom: 0;
    margin: 10px 0 5px 19px;
    box-sizing: border-box;
}

.shopping-right-po .po06 {
    height: 32px;
    border-bottom: 0;
    width: 60px;
    height: 32px;
    background-image: url(../upload/totop.png);
    background-position: -70px -0px;
}

.youth-img01 {
    float: left;
    width: 543px;
    height: 300px;
    margin-right: 14px;
}

.youth a:nth-child(2) img {
    margin-right: 0;
}

.youth-img01:nth-child(2) {
    margin-left: 14px;
}

/* 第五排 */
.recommend {
    width: 100%;
    height: 100px;
}

.recommend p {
    float: left;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-top: 55px;

}

/* 第六排 */
.commodity {
    width: 100%;
    height: 775px;
}

.commodity .commodity-box {
    position: relative;
    float: left;
    width: 263px;
    height: 382px;
    padding-right: 12px;
}

.commodity-box-bottom a:hover {
    text-decoration: underline;
}

.commodity-box p {
    color: #d33a31;
    font-size: 14px;
    text-align: center;
}

.commodity-box-bottom {
    width: 263px;
    height: 38px;
    margin-top: 8px;
}

.commodity-box-bottom span {
    float: left;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    color: #d74d45;
    border: 1px solid #d74d45;
    margin-right: 6px;
    margin-bottom: 10px;
}

.commodity-box-bottom a {
    float: left;
    font-size: 13px;
    height: 30px;

    text-overflow: ellipsis;
}

.commodity-box-tejia .commondity-box-tejia-left {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 16px;

}

.commodity-box-tejia .commindity-box-tejia-bottom {
    color: #f2c4c1;
    text-align: center;
    font-size: 14px;
    margin-top: 2px;
    text-decoration: line-through;
}

.commodity-box-tejia {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    background-color: #d33a31;
    border-radius: 50px;
}

.commondity-box div.commondity-box-tejia-left {
    color: #fff;
    z-index: 3;
}



/* 第七排 */
.album {
    width: 100%;
    height: 180px;
}

.album .sp-com {
    height: 180px;
    background-color: #f9f9f9;
}

.album-left {
    position: relative;
    float: left;
    width: 700px;
    height: 180px;
    margin-left: 70px;
}

.album-right {
    float: left;
    position: relative;
    width: 210px;
    height: 120px;
    margin: 30px 0 0 0;
}

.album-left i {
    float: left;
    width: 100%;
    height: 46px;
    font-weight: 600;
    font-size: 30px;
    margin-top: 34px;
    /* line-height: 46px; */
}

.album-left i img {
    position: absolute;
    top: 26px;
    left: 3px;
    margin-right: 10px;
    margin-top: 10px;
}

.album-left p {
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 100px;
}

.album-left h3 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 25px;
}

.album-right .img01 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    height: 100px;
}

.album-right .img02 {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 60px;
    width: 120px;
    height: 120px;
}

.album-right span {
    position: absolute;
    top: 0;
    left: 175px;
    width: 35px;
    height: 120px;
    background-image: url(../upload/pointlist.png);
    background-position: 0px -73px;
}

/* 第九排 */
.commodity-box .tu2 {
    width: 262px;
    height: 262px;
}

.ca {
    height: 1550px;
}

/* 最后面 */
/* 最最最后一排 */
.music-bottom {
    position: relative;
    height: 100px;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    background-color: #f2f2f2;
}

.music-bottom-one-row {
    margin-top: 34px;
}

.music-bottom-one-row a {
    float: left;
    color: #a2a2a2;
    margin-right: 8px;
    margin-left: 8px;
}

.music-bottom-one-row a:hover {
    text-decoration: underline;
}

.music-bottom-one-row a:nth-child(1) {
    margin-left: 0;
}

.music-bottom-one-row li {
    float: left;
    color: #d1d1d1;
}

.music-bottom-p1 {
    color: #666666;
    margin-top: 10px;
}

.music-bottom-p1:hover a,
.music-bottom-p2:hover a {
    text-decoration: underline;
}

.music-bottom-p2 {
    color: #666666;
    margin-top: 10px;
}

.music-bottom-left {
    float: left;
}

.music-bottom-right {
    float: right;
    width: 328px;
    height: 72px;
    margin-top: 20px;
}

.music-bottom-right span {
    float: right;

}

.music-bottom-right-box .music-bottom-right-img1 {
    width: 47px;
    height: 45px;
    background-image: url(../upload/foot_enter.png);
    background-position: -60px -78px;
    background-size: 110px 450px;
}

.music-bottom-right-box {
    float: left;
    width: 50px;
    height: 60px;
    margin-right: 40px;
}

.music-bottom-right-box li {
    display: block;
    font-size: 12px;
    margin-top: 52px;
    white-space: nowrap;
    text-align: center;
    color: #858585;
}

.music-bottom-right-box:nth-child(4) {
    margin-right: 8px;
}

.music-bottom-right-box .music-bottom-right-img2 {
    width: 48px;
    height: 45px;
    background-image: url(../upload/foot_enter.png);
    background-position: 0 -78px;
    background-size: 110px 450px;
}

.music-bottom-right-box .music-bottom-right-img3 {
    width: 47px;
    height: 45px;
    background-image: url(../upload/foot_enter.png);
    background-position: -2px 0;
    background-size: 110px 450px;
}

.music-bottom-right-box .music-bottom-right-img4 {
    width: 47px;
    height: 45px;
    background-image: url(../upload/foot_enter.png);
    background-position: -60px 0;
    background-size: 110px 450px;
}