@charset "UTF-8";
body {
  position: relative;
}

div {
  color: #000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #242424;
  z-index: 8;
}

.header-top {
  width: 1200px;
  height: 60px;
  margin: auto;
  line-height: 60px;
}

.header-top .header-top-logo {
  float: left;
}

.header-top .header-top-logo img {
  width: 160px;
  margin-top: calc((60px - 28px) / 2);
}

.header-top ul {
  width: 680px;
  float: left;
  overflow: hidden;
  margin-left: 35px;
}

.header-top ul li {
  float: left;
  width: 100px;
  margin-right: 62px;
  line-height: 58px;
  text-align: center;
  font-size: 16px;
}

.header-top ul li a {
  color: #aaa;
}

.header-top ul li a:hover {
  color: #fff;
}

.header-top ul li:nth-child(1) {
  border-bottom: 3px solid #c62f2f;
}

.header-top ul li:nth-child(1) a {
  color: #fff;
}

.header-top .header-top-right {
  float: right;
  width: 230px;
  height: 32px;
  padding-top: 14px;
  line-height: 32px;
  color: #aaaaaa;
}

.header-top .header-top-right a:nth-child(1) {
  width: 81px;
  height: 23px;
  border: 1px solid #8e413e;
  padding: 4px 10px;
  color: #de4939;
  margin-right: 20px;
}

.header-top .header-top-right a:nth-child(2) {
  color: #fff;
  text-decoration: underline;
  margin-left: 7px;
}

main {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: -webkit-gradient(linear, left top, right top, from(#282828), to(#282828));
  background-image: linear-gradient(to right, #282828, #282828);
}

main .img-1 {
  width: 100%;
  height: 800px;
}

main .img-1 .container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 800px;
}

main .img-1 .container::before {
  content: "";
  width: 1000px;
  height: 800px;
  position: absolute;
  background-image: url(../images/18493785580103375.jpg);
  background-size: 1064px 595px;
  background-repeat: no-repeat;
}

main .img-1 .container .main-top a {
  position: absolute;
  top: 344px;
  left: 444px;
  display: inline-block;
  margin: auto;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #ea524e;
  border: 2px solid #ea524e;
}

main .img-1 .container .main-centre a {
  position: absolute;
  top: 414px;
  left: 448px;
  color: #ea524e;
}

main .img-1 .container .main-bottom {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 600px;
  left: 0;
}

main .img-1 .container .main-bottom a {
  display: inline-block;
  width: 111px;
  height: 76px;
  margin-right: 162px;
}

main .img-1 .container .main-bottom a:nth-child(1) {
  margin-left: 173px;
  background-image: url(../images/xz61.png);
}

main .img-1 .container .main-bottom a:nth-child(2) {
  background-image: url(../images/xz62.png);
}

main .img-1 .container .main-bottom a:nth-child(3) {
  background-image: url(../images/xz63.png);
}

main .img-1 .container .main-bottom a:nth-child(1):hover {
  margin-left: 173px;
  background-image: url(../images/xz64.png);
}

main .img-1 .container .main-bottom a:nth-child(2):hover {
  background-image: url(../images/xz65.png);
}

main .img-1 .container .main-bottom a:nth-child(3):hover {
  background-image: url(../images/xz66.png);
}

main .img-1 ul {
  position: fixed;
  z-index: 10;
  right: 17px;
  top: 50%;
  margin-top: -64px;
  width: 25px;
  height: 190px;
}

main .img-1 ul li {
  width: 15px;
  height: 15px;
  margin-top: 8px;
  background-image: url(/images/axz1111.png);
}

main .img-1 ul li:hover {
  background-image: url(/images/bxz000.png);
}

main .img-2 {
  width: 100%;
  height: 800px;
}

main .img-2 .container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 1000px;
  background-image: url(../images/x784b4be8efe31be193967da6990109d6.jpg);
  background-size: 900px 800px;
  background-repeat: no-repeat;
  background-position: 12px 0;
}

main .img-2 .container .img-2-top {
  position: absolute;
  width: 100%;
  font-size: 28px;
  text-align: center;
  margin-top: 90px;
}

main .img-2 .container .img-2-top::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 555px;
  width: 100px;
  height: 2px;
  background-color: #f83934;
}

main .img-2 .container .img-2-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 310px;
}

main .img-2 .container .img-2-bottom .img-2-bottom-sj {
  position: relative;
  float: left;
  width: 311px;
  height: 367px;
  margin: 0 44px;
  background-image: url(../images/2327c4b03469a5da11acc220a58ed1f8.png);
}

main .img-2 .container .img-2-bottom .img-2-bottom-sj img {
  position: absolute;
  top: 65px;
  left: 125px;
}

main .img-2 .container .img-2-bottom .img-2-bottom-sj h3 {
  position: absolute;
  top: 153px;
  left: 82px;
  font-size: 18px;
  font-weight: 400;
}

main .img-2 .container .img-2-bottom .img-2-bottom-sj p {
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 16px;
  color: #999999;
  line-height: 24px;
}

.img-3 {
  width: 100%;
  height: 800px;
  background-color: #2c2c2c;
  overflow: hidden;
}

.img-3 .container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 1000px;
  background-image: url(../images/34754a1c1d9eeba63989e199a7e339ec.jpg);
  background-position: -348px -50px;
  overflow: hidden;
}

.img-3 .container h2 {
  position: relative;
  font-size: 28px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  padding-top: 180px;
}

.img-3 .container h2::after {
  content: "";
  position: absolute;
  top: 240px;
  left: 555px;
  width: 100px;
  height: 2px;
  background-color: #f83934;
}

.img-3 .container .img-3-top {
  color: #aaaaaa;
  position: absolute;
  top: 280px;
  left: 478px;
  font-size: 18px;
  text-align: center;
}

.img-3 .container .img-3-bottom {
  width: 1100px;
  height: 160px;
  margin: 0 auto;
  margin-top: 180px;
  overflow-x: auto;
}

.img-3 .container .img-3-bottom ul {
  position: relative;
  width: 10000px;
  overflow: hidden;
}

.img-3 .container .img-3-bottom ul li {
  position: relative;
  float: left;
  width: 260px;
  height: 160px;
  margin-right: 28px;
  text-align: center;
}

.img-3 .container .img-3-bottom ul li p {
  color: #fff;
  font-size: 16px;
  padding: 0 40px;
  margin-top: 40px;
}

.img-3 .container .img-3-bottom ul li span {
  position: absolute;
  bottom: 10px;
  color: #bbbbbb;
  left: 107px;
}

.img-3 .container .img-3-bottom ul li:nth-child(1) {
  background-image: url(../images/zhaolei.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(2) {
  background-image: url(../images/luodi.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(3) {
  background-image: url(../images/duli.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(4) {
  background-image: url(../images/shitoujihua.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(5) {
  background-image: url(../images/01.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(6) {
  background-image: url(../images/07.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(7) {
  background-image: url(../images/03.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(8) {
  background-image: url(../images/05.jpg);
}

.img-3 .container .img-3-bottom ul li:nth-child(9) {
  background-image: url(../images/06.jpg);
}

.img-3 .container .img-3-zuix {
  color: #cccccc;
  margin-top: 47px;
  line-height: 28px;
  font-size: 16px;
  text-align: center;
}

.img-4 {
  width: 100%;
  height: 800px;
  padding-top: 125px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img-4 .container {
  position: relative;
  width: 1098px;
  margin: 0 auto;
  height: 800px;
  text-align: center;
  background-image: url(../images/ed4a4b1….jpg);
  background-position: 50%;
  background-size: 1256px 461px;
  background-repeat: no-repeat;
}

.img-4 .container h2 {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  margin-top: 0px;
}

.img-4 .container h2::after {
  content: "";
  position: absolute;
  top: 56px;
  left: 504px;
  width: 100px;
  height: 2px;
  background-color: #f83934;
}

.img-4 .container .img-4-p {
  color: #888;
  font-size: 18px;
  margin-top: 60px;
}

.img-4 .container .img-4-box {
  width: 100%;
}

.img-4 .container .img-4-box ul {
  width: 100%;
}

.img-4 .container .img-4-box ul li {
  position: relative;
  float: left;
  width: 270px;
  height: 315px;
  margin-top: 25px;
  margin: 0 48px;
}

.img-4 .container .img-4-box ul li p {
  position: absolute;
  bottom: -60px;
  left: 56px;
  font-size: 16px;
}

.img-4 .container .img-4-box ul li:nth-child(1) {
  background-image: url(../images/xch.png);
}

.img-4 .container .img-4-box ul li:nth-child(2) {
  background-image: url(../images/cl.jpg);
}

.img-4 .container .img-4-box ul li:nth-child(3) {
  background-image: url(../images/hjm.jpg);
}

.img-4 .container .img-4-box ul li:nth-child(1):hover {
  background-image: url(../images/xch.png);
  background-position: -270px 0;
}

.img-4 .container .img-4-box ul li:nth-child(2):hover {
  background-image: url(../images/cl.jpg);
  background-position: -270px 0;
}

.img-4 .container .img-4-box ul li:nth-child(3):hover {
  background-image: url(../images/hjm.jpg);
  background-position: -270px 0;
}

.img-5 {
  width: 100%;
  height: 800px;
  background-color: #282828;
}

.img-5 .container {
  position: relative;
  width: 1098px;
  margin: 0 auto;
  height: 800px;
  text-align: center;
  padding-top: 120px;
  background-image: url(../images/4960272272b3e2f78829db3fd908fd97.jpg);
  background-position: -39px 0;
  background-size: 1110px 800px;
  background-repeat: no-repeat;
}

.img-5 .container h2 {
  position: relative;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

.img-5 .container h2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 497px;
  width: 116px;
  height: 2px;
  background-color: #f83934;
}

.img-5 .container p {
  font-size: 24px;
  line-height: 48px;
  margin: 120px 0 66px;
  color: #eee;
}

.img-5 .container a {
  display: block;
  width: 237px;
  height: 56px;
  margin: auto;
  background-image: url(../images/12312132.png);
}

.img-6 {
  width: 100%;
  height: 800px;
  background-color: #282828;
  background-image: url(../images/0ba205d7bf1634361ae05d5ec295ab95.jpg);
  background-position: -235px -250px;
  overflow: hidden;
}

.img-6 .container {
  position: relative;
  width: 1098px;
  margin: 0 auto;
  height: 800px;
  overflow: hidden;
}

.img-6 .container h2 {
  position: relative;
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  margin-top: 50px;
  text-align: center;
}

.img-6 .container h2::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 497px;
  width: 116px;
  height: 2px;
  background-color: #f83934;
}

.img-6 .container p {
  font-size: 18px;
  color: #6d6d6d;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}

.img-6 .container ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.img-6 .container ul li {
  display: inline-block;
  width: 250px;
  height: 350px;
  background-color: #fff;
  margin: 56px;
  overflow: hidden;
}

.img-6 .container ul li p {
  margin: 0;
}

.img-6 .container ul li p:nth-child(1) {
  color: #999999;
  font-size: 18px;
  margin: 24px 0 14px;
}

.img-6 .container ul li p:nth-child(2) {
  color: #333333;
  font-size: 24px;
}

.img-6 .container ul li span {
  display: block;
  width: 100px;
  height: 115px;
  margin: 32px auto 20px;
}

.img-6 .container ul li .img-6-i-1 {
  background-image: url(../images/123.png);
}

.img-6 .container ul li .img-6-p-bottom {
  color: #999;
  font-size: 14px;
  line-height: 24px;
}

.img-7 {
  width: 100%;
  height: 800px;
  background-color: #292928;
  overflow: hidden;
}

.img-7 .container {
  position: relative;
  width: 1098px;
  margin: 0 auto;
  height: 800px;
  overflow: hidden;
}

.img-7 .container h2 {
  position: relative;
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  margin-top: 150px;
  text-align: center;
}

.img-7 .container h2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 497px;
  width: 110px;
  height: 2px;
  background-color: #f83934;
}

.img-7 .container p {
  font-size: 18px;
  color: #cccccc;
  margin-top: 60px;
  margin-bottom: 55px;
  text-align: center;
}

.img-7 .container ul {
  width: 1200px;
  height: 210px;
}

.img-7 .container ul li {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 210px;
  margin-left: 24px;
}

.img-7 .container ul li a {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-7 .container ul li a .img-7-box {
  position: relative;
  width: 160px;
  height: 184px;
}

.img-7 .container ul li a .img-7-box .img-7-box-shou {
  position: absolute;
  width: 160px;
  height: 184px;
  top: 0px;
  left: -2px;
  background-image: url(../images/xsssxxxxxxx.png);
  display: none;
}

.img-7 .container ul li a .img-7-box .img-7-box-shou p {
  color: #ea524e;
  line-height: 24px;
  font-weight: 400;
  font-size: 12px;
  margin-top: 60px;
  font-size: 14px;
}

.img-7 .container ul li a .img-7-box::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 184px;
  top: 0;
  left: 0;
  background-image: url(../images/bfcefc1c947565d40b33f69a9ff2603f.png);
  background-position: -26px -58px;
}

.img-7 .container ul li a .img-7-box img {
  width: 100%;
  height: 100%;
}

.img-7 .container ul li a p {
  margin: 0;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.img-7 .container ul li a:hover .img-7-box-shou {
  display: block;
}

.img-7 .container ul li:nth-child(1) {
  margin: 0;
}
/*# sourceMappingURL=musician.css.map */